############################################################################
# VCC AUX VOLTAGE 
############################################################################
CONFIG VCCAUX=3.3;

############################################################################	
NET reset_i      LOC = R13  |IOSTANDARD = LVCMOS33;  # "USER_RESET"
NET reset_i      TIG;

NET clk_66mhz        LOC = R9 | IOSTANDARD = LVCMOS33;
NET clk_66mhz 			TNM_NET = clk_66mhz;
TIMESPEC TS_CLOCK_R9 = PERIOD clk_66mhz 66666.7 kHz;

NET "DUT_CLK_i" CLOCK_DEDICATED_ROUTE = FALSE;

#TODO FIX THIS
#NET "clk_100mhz" CLOCK_DEDICATED_ROUTE = FALSE;
PIN "genclocks/DCM_extclock_gen.CLKIN" CLOCK_DEDICATED_ROUTE = FALSE;
NET "clk_66mhz" CLOCK_DEDICATED_ROUTE = FALSE;
	
############################################################################	
# User LEDs			
############################################################################	
NET GPIO_LED1         LOC = D13  |IOSTANDARD = LVCMOS33;               # "GPIO_LED1"
NET GPIO_LED2         LOC = C13  |IOSTANDARD = LVCMOS33;               # "GPIO_LED2"
NET GPIO_LED3         LOC = T9  |IOSTANDARD = LVCMOS33;               # "GPIO_LED3"
NET GPIO_LED4         LOC = N2  |IOSTANDARD = LVCMOS33;               # "GPIO_LED4"


#NET RXD     LOC = C12  |IOSTANDARD = LVCMOS33;               # "USB_RS232_RXD"
#NET TXD     LOC = D11  |IOSTANDARD = LVCMOS33;               # "USB_RS232_TXD"
 
NET cmdfifo_rxf_n		 LOC=P9   |IOSTANDARD = LVCMOS33;
NET cmdfifo_txe_n		 LOC=N9	 |IOSTANDARD = LVCMOS33;
NET cmdfifo_rd_n		 LOC=P8   |IOSTANDARD = LVCMOS33;
NET cmdfifo_wr_n		 LOC=T8   |IOSTANDARD = LVCMOS33;
NET cmdfifo_data[7]	 LOC=N8   |IOSTANDARD = LVCMOS33;
NET cmdfifo_data[6]	 LOC=P7   |IOSTANDARD = LVCMOS33;
NET cmdfifo_data[5]	 LOC=P6   |IOSTANDARD = LVCMOS33;
NET cmdfifo_data[4]	 LOC=N7   |IOSTANDARD = LVCMOS33;
NET cmdfifo_data[3]	 LOC=T6   |IOSTANDARD = LVCMOS33;
NET cmdfifo_data[2]	 LOC=T5   |IOSTANDARD = LVCMOS33;
NET cmdfifo_data[1]	 LOC=R5   |IOSTANDARD = LVCMOS33;
NET cmdfifo_data[0]	 LOC=T4   |IOSTANDARD = LVCMOS33;

NET DUT_CLK_i         LOC=C10  |IOSTANDARD = LVCMOS33;
NET DUT_trigger_i     LOC=D9   |IOSTANDARD = LVCMOS33;
NET ADC_Data[9]       LOC=C8   |IOSTANDARD = LVCMOS33 | TNM_NET = ADCClock;
NET ADC_Data[7]       LOC=A14  |IOSTANDARD = LVCMOS33 | TNM_NET = ADCClock;
NET ADC_Data[5]       LOC=A6     |IOSTANDARD = LVCMOS33 | TNM_NET = ADCClock;
NET ADC_OR            LOC=D8   |IOSTANDARD = LVCMOS33 | TNM_NET = ADCClock;
NET ADC_Data[8]       LOC=A13  |IOSTANDARD = LVCMOS33 | TNM_NET = ADCClock;
NET ADC_Data[6]       LOC=B6     |IOSTANDARD = LVCMOS33 | TNM_NET = ADCClock;

NET ADC_Data[3]       LOC=C11   |IOSTANDARD = LVCMOS33 | TNM_NET = ADCClock;
NET ADC_Data[1]       LOC=B8   |IOSTANDARD = LVCMOS33 | TNM_NET = ADCClock;
NET ADC_clk           LOC=C5   |IOSTANDARD = LVCMOS33 | SLEW=FAST | DRIVE=8;
NET amp_gain          LOC=B3   |IOSTANDARD = LVCMOS33 | SLEW=SLOW | DRIVE=2;
NET ADC_Data[4]       LOC=A11   |IOSTANDARD = LVCMOS33 | TNM_NET = ADCClock;
NET ADC_Data[2]       LOC=A8   |IOSTANDARD = LVCMOS33 | TNM_NET = ADCClock;
NET ADC_Data[0]       LOC=A5   |IOSTANDARD = LVCMOS33 | TNM_NET = ADCClock;
NET amp_hilo          LOC=A3   |IOSTANDARD = LVCMOS33;