# ----------------------------------------------------------------------------
#     _____
#    /     \
#   /____   \____
#  / \===\   \==/
# /___\===\___\/  AVNET Design Resource Center
#      \======/         www.em.avnet.com/s6microboard
#       \====/    
# ----------------------------------------------------------------------------
# 
#  Created With Avnet UCF Generator V0.3.0 
#     Date: Friday, November 12, 2010 
#     Time: 4:11:53 PM 
#
#  Updates
#     4 Jan 2011 -- added DIPs; changed IOSTANDARD for LEDs and LPDDR
#	 11 Jan 2011 -- Changed IOSTANDARD for DIPs to LVCMOS33.
#				    Replaced '#' on the end of net names with '_n'
#    14 Jan 2011 -- Added I2C for CDCE913 clock chip
#                   Added formatting and section breaks
#    27 Jan 2011 -- Updated URL for PMODs
#    04 Aug 2011 -- Renaming USER_RESET_N to USER_RESET since it is not low-enabled;
#                   Added extra comment on Ethernet PHY RXD pull-ups
#                   Removed extraneous quote mark in I2C port syntax
# 
#  This design is the property of Avnet.  Publication of this
#  design is not authorized without written consent from Avnet.
#  
#  Please direct any questions to:
#     Avnet Technical Forums
#     http://community.em.avnet.com/t5/Spartan-6-LX9-MicroBoard/bd-p/Spartan-6LX9MicroBoard
#
#     Avnet Centralized Technical Support
#     Centralized-Support@avnet.com
#     1-800-422-9023
# 
#  Disclaimer:
#     Avnet, Inc. makes no warranty for the use of this code or design.
#     This code is provided  "As Is". Avnet, Inc assumes no responsibility for
#     any errors, which may appear in this code, nor does it make a commitment
#     to update the information contained herein. Avnet, Inc specifically
#     disclaims any implied warranties of fitness for a particular purpose.
#                      Copyright(c) 2011 Avnet, Inc.
#                              All rights reserved.
# 
# ----------------------------------------------------------------------------
############################################################################
# VCC AUX VOLTAGE 
############################################################################
CONFIG VCCAUX=3.3;

############################################################################	
# User Reset Push Button
#   Ignore the timing for this signal
#   Internal pull-down required since external resistor is not populated
############################################################################	
NET reset_i      LOC = V4  |IOSTANDARD = LVCMOS33 |PULLDOWN;    # "USER_RESET"
NET reset_i      TIG;

############################################################################	
# All the IO resources in an IO tile which contains DQSP/UDQSP are used		
# irrespective of a single-ended or differential DQS design. Any signal that	
# is connected to the free pin of the same IO tile in a single-ended design	
# will be unrouted. Hence, the IOB cannot used as general pupose IO.			
############################################################################	
CONFIG PROHIBIT = P1,L3;


############################################################################	
# National Semiconductor DP83848J 10/100 Ethernet PHY			
#   Pull-ups on RXD are necessary to set the PHY AD to 11110b.
#   Must keep the PHY from defaulting to PHY AD = 00000b      
#   because this is Isolate Mode                              
############################################################################	
NET ETH_COL           LOC = M18 | IOSTANDARD = LVCMOS33 | PULLDOWN;    # "ETH_COL"
NET ETH_CRS           LOC = N17 | IOSTANDARD = LVCMOS33 | PULLDOWN;    # "ETH_CRS"
NET ETH_MDC           LOC = M16 | IOSTANDARD = LVCMOS33;               # "ETH_MDC"
NET ETH_MDIO          LOC = L18 | IOSTANDARD = LVCMOS33;               # "ETH_MDIO"
NET ETH_RESET_n       LOC = T18 | IOSTANDARD = LVCMOS33 | TIG;         # "ETH_RESET#"
NET ETH_RX_CLK        LOC = L15 | IOSTANDARD = LVCMOS33;               # "ETH_RX_CLK"
NET ETH_RX_DATA[0]    LOC = T17 | IOSTANDARD = LVCMOS33 | PULLUP;      # "ETH_RX_D0"
NET ETH_RX_DATA[1]    LOC = N16 | IOSTANDARD = LVCMOS33 | PULLUP;      # "ETH_RX_D1"
NET ETH_RX_DATA[2]    LOC = N15 | IOSTANDARD = LVCMOS33 | PULLUP;      # "ETH_RX_D2"
NET ETH_RX_DATA[3]    LOC = P18 | IOSTANDARD = LVCMOS33 | PULLUP;      # "ETH_RX_D3"
NET ETH_RX_DV         LOC = P17 | IOSTANDARD = LVCMOS33;               # "ETH_RX_DV"
NET ETH_RX_ER         LOC = N18 | IOSTANDARD = LVCMOS33;               # "ETH_RX_ER"
NET ETH_TX_CLK        LOC = H17 | IOSTANDARD = LVCMOS33;               # "ETH_TX_CLK"
NET ETH_TX_DATA[0]    LOC = K18 | IOSTANDARD = LVCMOS33;               # "ETH_TX_D0"
NET ETH_TX_DATA[1]    LOC = K17 | IOSTANDARD = LVCMOS33;               # "ETH_TX_D1"
NET ETH_TX_DATA[2]    LOC = J18 | IOSTANDARD = LVCMOS33;               # "ETH_TX_D2"
NET ETH_TX_DATA[3]    LOC = J16 | IOSTANDARD = LVCMOS33;               # "ETH_TX_D3"
NET ETH_TX_EN         LOC = L17 | IOSTANDARD = LVCMOS33;               # "ETH_TX_EN"

NET "eth_tx_clk" CLOCK_DEDICATED_ROUTE = FALSE;
